/*--------- GLOBAL STYLES -------*/
* {
    box-sizing: border-box;
}

body {
    line-height: 1.5;
    background-color: #f4f4f4;
    font-size: 1.1em;
    font-family:  'Arial', Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

/* Used inside div tags */
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

/* Wraps all of the content in the body in order for css grid to be set up */
.wrapper {
    /* display: grid;
    overflow: hidden;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(7, 1fr); */
}

footer {
    min-height: 4.2em;
    background-color: #2a3a4a;
    color: white;
    text-align: center;
}

/* ------------HEADER & NAV BAR SECTION - GLOBAL STYLE ---------------- */
/* Header */
header {
    width: 100%;
    min-height: 7vh;
    background-color:#2a3a4a;
    padding: 1.5em 0; 
    line-height: 2.3em;
    color: white;
    border-bottom: #2a9b35 6px solid;
}

header #branding {
    float: left;
} 

.logo {
    height: 2.5em;
    width: 2.5em;
}

/* Affects the tagline */
.tagline {
    margin: 0;
} 

/* NAV BAR */
header .topnav {
    float: right;
    margin-top: 10px;
    vertical-align: middle;
}
  


header a, .dropbtn { /*nav bar links*/
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    /* padding: 14px 16px; */
    text-align: center;
    overflow: hidden;
    padding: 0 20px; /*Change to a responsive value*/
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
}
  
/* Add an active class to highlight the current page */
.active {
    color: #2a9b35;
}  
  
/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}
  
  /* Dropdown container - needed to position the dropdown content */
.dropdown {
    float: left;
}
  
/* Style the dropdown button to fit inside the topnav */
.dropdown .dropbtn {
    font-size: 17px;
    border: none;
    outline: none;
    color: white;
    padding: 10px 16px; 
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}
  
/* Style the dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #2a3a4a;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
/* Style the links inside the dropdown */
.dropdown-content a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
  
/* Add a dark background on topnav links and the dropdown button on hover */
.topnav a:hover, .dropdown:hover .dropbtn {
    color: #007491;
    box-shadow: inset 0 5px #007491;
}
  
/* Add a grey background to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #007491;
    color: white;
}
  
/* Show the dropdown menu when the user moves the mouse over the dropdown button */
  .dropdown:hover .dropdown-content {
    display: block;
}
  
  /* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child), .dropdown .dropbtn {
      display: none;
    }
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
    .topnav.responsive .dropdown {float: none;}
    .topnav.responsive .dropdown-content {position: relative;}
    .topnav.responsive .dropdown .dropbtn {
      display: block;
      width: 100%;
      text-align: left;
    }
}

/* ------------SECTION 1: SHOWCASE --------------- */
/* Sets the background image of the section to the showcase image. */
#showcase {
    position: relative;
    min-height: 40vh; 
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../images/showcase-image.jpeg');
    background-size: cover;
}

/* Adds a dark grey overlay at 50% opacity */
#showcase::before    {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgb(77, 85, 85); /*Opacity Colour*/
    opacity: 0.5;
} 

.showcase-text {
    position: relative;
    color: #f2f2f2;  
    text-align: center;
}

#showcase > h1 {
    font-size: 2.0em;
} 

/* ------------SECTION 2: WEB TECHNOLOGIES --------------- */
#web-tech {
    background-color: #007491;;
    color: black;
    padding: 0 0 2rem 0;  
    min-height: 30vh;
    width: 100%;
}

#web-tech h1 {
    font-size: 1.5em;
} 

/* ------------SECTION 3: MY BIO --------------- */
#bio {
    background-color: #2a9b35;
    width: 100%;

    /* CSS GRID */
    grid-row: 3/4;
}

#bio img {
    height: 8.0em;
    width: 8.0em;
    border-radius: ;
    object-fit: contain;
    max-width: 30%;
    height: auto;
    align-items: center;
}

/* ------------SECTION 4: DEVELOPMENT SKILLS --------------- */
#skills{
    padding: 2rem 0;
} 

.nested-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1em;  
    text-align: center;
    overflow: hidden;
} 

.nested-grid > div {
    background: lightgray;
    padding: 0.5em;
}

.nested-grid img {
    object-fit: contain;
    max-width: 30%;
    height: auto;
    align-items: center;
}

/* ------------SECTION 5: STATEMENT OF AUTHENTICITY --------------- */
#authenticity {
    background-color: tomato;
}

#authenticity > h2 {
    font-size: 1.5em;
}

#authenticity > p {
    font-size: 1.2em;
}
/* ------------ FOOTER -------------- */
footer {
    border-top: #2a9b35 6px solid;
}

/* ------------ RESPONSIVENESS ----------------- */
/*TABLET*/
@media screen and (min-width: 600px) { 
    /* ----- HEADER & NAV BAR SECTION -----*/
    .tagline {
        float: right; 
        text-indent: 1em;  
        /* position: absolute;*/
        /* top: 50%; 
        transform: translateY(-50%);
        margin: 0; 
        */
    } 

     /* ----- SECTION 1: SHOWCASE -----*/
    #showcase {
        width: 100%;
        min-height: 30vh;
        font-size: 1.3em;
        /* Heading font size: 3.0em */
    }

    /* ----- SECTION 2: WEB TECHNOLOGIES -----*/
    #web-tech {
        width: 100%;
    }

    /* ----- SECTION 3: MY BIO -----*/
    #bio {
        width: 100%;
        /* CSS GRID */
        grid-column: 2/3;
        grid-row: 3/4;
    }
}

/* DESKTOP*/
@media screen and (min-width:768px){
    /* ----- GLOBAL STYLES ----- */
    /* Wraps all of the content in the body in order for css grid to be set up */
    .wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 1fr);
        grid-auto-columns: 50%;
    }

    /* ----- HEADER & NAV BAR SECTION -----*/
    header {
        /* CSS GRID */
        grid-column: 1/3;
        grid-row: 1/2;
    }

	  
    .logo {
        width: 3.0em; 
        height: 3.0em;
    }
    
    /* Affects the tagline */
    .tagline {
        float: right;  
        text-indent: 1em; 
    }    

    /* ----- SECTION 1: SHOWCASE -----*/
    /* Showcase Section*/
    #showcase {
        min-height: 30vh;
        font-size: 1.5em;

        /* CSS GRID */
        grid-column: 1/3;
        grid-row: 2/3;
    }

    /* ----- SECTION 2: WEB TECHNOLOGIES -----*/
    #web-tech {
        /* CSS GRID */
        grid-column: 1/2;
        grid-row: 3/4;
    } 

    /* ----- SECTION 3: MY BIO -----*/
    #bio {
        /* CSS GRID */
        grid-column: 2/3;
        grid-row: 3/4;
    }

    /* ----- SECTION 4: DEVELOPMENT SKILLS -----*/
    #skills {
        /* CSS GRID */
        grid-column: 1/3;
        grid-row: 4/5;
    }

    /* Make the development skills section span across in three columns on desktop */
    .nested-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 1em;  
        text-align: center;
    } 

    /* ----- SECTION 5: STATEMENT OF AUTHENTICITY -----*/
    #authenticity {
        /* CSS GRID */
        grid-column: 1/3;
        grid-row: 5/6;
    }

    /* ----- FOOTER ----- */
    footer {
        /* CSS GRID */  
        grid-column: 1/3;
        grid-row: 6/7;
    }
}

