/************************************************** GLOBAL STYLES ************************************************** */
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    line-height: 1.5;
    background-color: #f4f4f4;
    font-size: 1.1em;
    font-family:  'Arial', Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

/* Used inside div tags */
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

/* Adding padding to enforce spaces/breaks instead of abusing <br> tags. */
#bio h2,  #web-tech h2, #skills h2, #authenticity h2, #authenticity p, #brief h1 {
    padding-bottom: 0.5em;
}

/* ------------HEADER & NAV BAR SECTION - GLOBAL STYLE ---------------- */
/* Header */
header {
    width: 100%;
    min-height: 7vh;
    background-color:#2a3a4a;
    padding: 1.5em 0;
    line-height: 2.3em;
    color: white;
    border-bottom: #2a9b35 6px solid;
}

header #branding {
    float: left;
}

.logo {
    height: 2.5em;
    width: 2.5em;
}

/* Affects the tagline */
.tagline {
    margin: 0;
}

/* NAV BAR */
header .topnav {
    float: right;
    margin-top: 10px;
    vertical-align: middle;
}

header a, .dropbtn { /*nav bar links*/
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    text-align: center;
    overflow: hidden;
    padding: 0 20px; /*Change to a responsive value*/
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
}

/* Add an active class to highlight the current page */
.active {
    color: #2a9b35;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}

/* Dropdown container - needed to position the dropdown content */
.dropdown {
    float: left;
}

/* Style the dropdown button to fit inside the topnav */
.dropdown .dropbtn {
    font-size: 17px;
    border: none;
    outline: none;
    color: white;
    padding: 10px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

/* Style the dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #2a3a4a;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Style the links inside the dropdown */
.dropdown-content a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

/* Add a dark background on topnav links and the dropdown button on hover */
.topnav a:hover, .dropdown:hover .dropbtn {
    color: #007491;
    box-shadow: inset 0 5px #007491;
}

/* Add a grey background to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #007491;
    color: white;
}

/* Show the dropdown menu when the user moves the mouse over the dropdown button */
  .dropdown:hover .dropdown-content {
    display: block;
}

/* ------------SECTION 1: SHOWCASE --------------- */
/* Sets the background image of the section to the showcase image. */
#showcase {
    position: relative;
    min-height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../images/showcase-image.jpeg');
    background-size: cover;
    padding-top: 4em;
    padding-bottom: 2em;
}

/* Adds a dark grey overlay at 50% opacity */
#showcase::before    {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgb(77, 85, 85); /*Opacity Colour*/
    opacity: 0.5;
}

.showcase-text {
    position: relative;
    color: #f2f2f2;
    text-align: center;
}

#showcase > h1 {
    font-size: 2.0em;
}

/* ------------SECTION 2: WEB TECHNOLOGIES --------------- */
#web-tech {
    background-color: #007491;;
    color: black;
    padding: 2em 0 2rem 2em;
    min-height: 30vh;
    width: 100%;
    list-style-position: inside;
}

#web-tech h2 {
    font-size: 1.5em;
}

/* ------------SECTION 3: MY BIO --------------- */
#bio {
    background-color: #2a9b35;
    width: 100%;
    padding: 2rem 0;
}

#bio img {
    display: block;
    margin: 0 auto;
    /* height: 8.0em;
    width: 8.0em; */
    /* border-radius: 50%;  */
    object-fit: contain;
    max-width: 80%;
    height: auto;
    align-content: center;
    margin-bottom: 1em;
}

/* ------------SECTION 4: DEVELOPMENT SKILLS --------------- */
#skills{
    padding: 2rem 0;
}

.skills-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1em;
    text-align: center;
    overflow: hidden;
}

.skills-grid > div {
    background: lightgray;
    padding: 0.5em;
}

.skills-grid img {
    object-fit: contain;
    max-width: 30%;
    height: auto;
    align-items: center;
}

/* ------------SECTION 5: STATEMENT OF AUTHENTICITY --------------- */
#authenticity {
    background-color: tomato;
    padding: 2rem 1em 0 2rem;
}

#authenticity > h2 {
    font-size: 1.5em;
}

#authenticity > p {
    font-size: 1.2em;
}

/* ------------ FOOTER -------------- */
footer {
    border-top: #2a9b35 6px solid;
    min-height: 6.2em;
    text-align: center;
    background-color: #2a3a4a;
    color: white;
}

.footer-padding {
    padding: 1.5em 0;
}

/************************************************** FORM PAGES STYLES ************************************************** */
#formPage-headers {
    background-color: #7b8091;
    min-height: 25vh;
    margin: 0;
    padding: 0.5em 0 0.5em 0.5em;
}
/* ------------ HTML FORM -------------- */
/* html-form is the section id that the form is placed in. */
#html-form {
    background-color: rgb(238, 232, 232);
    padding: 2rem 0;
    font-size: small;
}

/* I had to list all of the labels that I wanted the style on individually, otherwise it would affect the labels in the radio button groups.*/
#firstName-label, #lastName-label, #line1-label, #line2-label, #townCity-label, #gender-label, #mobileType-label, #mobileProvider-label, #explanation-label  {
    display: block;
}

/* Adds space underneath the following textareas */
#first-name, #last-name, #line-1, #line-2, #town-city, #explanation, .radio-btn-div{
    margin-bottom: 1em;
    width: 99.5%
}

/* Display radio buttons next too each other. */
.radio-btn-div {
    display: inline;
}

/* When moving the mouse over the submit button, add a green color  */
input[type=submit]:hover, input[type=reset]:hover {
    background-color: #2a9b35;
    color: white;

}


/* ------------ GOOGLE FORM -------------- */
#google-form{
    /* z-index: 1; */
    background: #f0ebf8;
}

.purple-header{
    width: 100%;
    min-height: 40%;
    background:#673ab7;
    z-index: 1;
    margin:auto;
    position: absolute;
}

.iframe-div{
    z-index: 2;
    position: relative;
    padding-top: 5em;
}

iframe {
    margin: 0;
    padding: 0;
    border: none;
    width: 100%;
    /* Height given in px as that is what google forms set the height of the form as. */
    min-height: 1700px; 
    /* padding: 5em 0;*/
    
    /* position: absolute; */
    /* z-index: 2;  */
}


/************************************************** Responsiveness ************************************************** */
/**********TABLET**********/
@media screen and (min-width: 600px) {
    /* ----- HEADER & NAV BAR SECTION -----*/
    .tagline {
        float: right;
        text-indent: 1em;
    }

     /* ----- SECTION 1: SHOWCASE -----*/
    #showcase {
        width: 100%;
        min-height: 30vh;
        font-size: 1.3em;
        /* Heading font size: 3.0em */
    }

    /* ----- SECTION 2: WEB TECHNOLOGIES -----*/
    #web-tech {
        width: 100%;
    }

    /* ----- SECTION 3: MY BIO -----*/
    #bio {
        width: 100%;
    }

    /* ----- HTML FORM ----- */
    .html-div {
        width: 80vw;
    }

    /* I had to list the ids of all the labels in the form excluding the labels of the radio button options in order for the layout to work. */
    #firstName-label, #lastName-label, #line1-label, #line2-label, #townCity-label, #gender-label, #mobileType-label, #mobileProvider-label, #explanation-label {
        float: left;
        margin-right: 1em;
        width: 10em;
    }

    #first-name, #last-name, #line-1, #line-2, #town-city, #explanation{
        width: 70%;
    }

    /* ----- Google FORM ----- */
    /* Extend the length of the form for tablets and desktops */
    iframe{
        min-height: 1573px;
    }
     
    
}

/*********** DESKTOP ***********/
@media screen and (min-width:768px){
    .logo {
        width: 3.0em;
        height: 3.0em;
    }

    /* Affects the tagline */
    .tagline {
        float: right;
        text-indent: 1em;
    }

    /* ----- SECTION 1: SHOWCASE -----*/
    /* Showcase Section*/
    #showcase {
        min-height: 30vh;
        padding-top:6em;
    }

    /* ----- SECTION 2: WEB TECH and BIO SECTIONS -----*/
    .two-col {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #bio img{
        max-width: 40%;
        height: auto;
        float: left;
        margin: 0 2em 0.5em auto;

    }

    /* ----- SECTION 4: DEVELOPMENT SKILLS -----*
    /* Make the development skills section span across in three columns on desktop */
    .skills-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 1em;
        text-align: center;
    }

    /* ----- FOOTER ----- */
    .icon-reference {
        float: right;
    }

    /* ----- HTML FORM ----- */
    .html-div {
        width: 50vw;
    }

    #firstName-label, #lastName-label, #line1-label, #line2-label, #townCity-label, #gender-label, #mobileType-label, #mobileProvider-label, #explanation-label{
        /* Gives the labels the same margin width */
        width: 10em;
    }

    #first-name, #last-name, #line-1, #line-2, #town-city, #explanation {
        /* Width is set to 75% in order to give lee way for the label/label's margin. */
        width: 75%;
    }

    .form-btn {
        margin-left: 11em;
    }
}

/* ----- NAV BAR Responsiveness - collapses the menu for the smart phone -----*/
@media screen and (max-width: 600px) {
    /* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
    .topnav a:not(:first-child), .dropdown .dropbtn {
        display: none;
      }
      .topnav a.icon {
        float: right;
        display: block;
    }

    /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
    .topnav.responsive .dropdown {float: none;}
    .topnav.responsive .dropdown-content {position: relative;}
    .topnav.responsive .dropdown .dropbtn {
      display: block;
      width: 100%;
      text-align: left;
    }
}